@font-face {
  font-family: "ShortBaby";
  src: url(ShortBaby-Mg2w.ttf);
}


body {
  font-family: "Sedan SC";
  background-color: #f5f5f5;
  /* color: white; */
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  padding: 20px;
  margin: 0px auto;
}

.left_Section {
  background-color: black;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 20px;
  border-radius: 30px;
  /* align-items: center; */
}

.right_Section {
  background-color: #F5F5F5;
  border: 1px solid black;
}


#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
#profile_picture {
  width: 80%;
  height: 85%;
  border-radius: 50%;
}

#profile h2{
    font-size: 20px;
    color: rgb(250, 249, 247);
    font-weight: bolder;
    font-family: "sedan sc";
}

.nav> a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
}


.nav:hover{
    color: yellow;
}


.nav{
    display: flex;
    margin-left: 30px;
    padding-right: 20px;
    justify-content: flex-start;
    font-family: "Sedan SC";
    color: white;
    margin-bottom:auto;
    /* margin-bottom: 30px; */

        

}


.nav>a:hover{
    color: rgb(68, 177, 75);
}


.right_Section{
    /* padding: 20px;
    margin-left: 10px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1{
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0px 0px 50px;
}
#search{
    margin-right: 2%;
    margin-top: 11px;
    height: 25px;
    width: 200px;
    border-radius: 10px;
    border: 0px solid white;
  
}

#search:active{
      border: 2px solid green;
      /* column-fill: "search"; */
}


/* article{
    background-color: black;
    height: 400px;
    margin: 20px;
} */

#dashboard{
    background-color: #FFFFFF;
    padding-left: 10px;
    border-radius: 40px;
    margin: auto;
    box-sizing: border-box;
    /* height: 500px; */
}

#dashboard img{
    width: 99%;
        border-radius: 40px;
    height: auto;
    box-sizing: border-box;
    
        
}