 @font-face {
    font-family: "ShortBaby";
    src: url(ShortBaby-Mg2w.ttf);
}
body{
    font-family: "ShortBaby";
    background-color: #F5F5F5;
    color: white;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 20px;
}


.left_Section{
 background-color: black;
 height: 93vh;
 display: grid;
 border-radius: 40px;

}

#profile{
    width: 100%;
    display: grid;
    height: 100%;
    justify-items: center;
    /* align-items: center; */
}

#profile h2{
    /* margin: 0px; */
    align-items: start;
}
#profile_picture{
    width: 50%;
    height: 50%;
    border-radius: 200px;
    padding-top: 20px;
}