.box{
    background-color: blueviolet;
    padding: 20px;
    border-radius: 10px;
    border: 1px dotted rgb(10, 82, 22);
    /* display: grid; */
    
}

#container{
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: auto auto auto; */
}