.box {
  background-color: blueviolet;
  padding: 20px;
  border-radius: 10px;
  border: 1px dotted rgb(10, 82, 22);
}

#container {
  display: grid;

  /* 4 methods to set set number and width of columns required */
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3,1fr); */
  /* grid-template-columns: auto auto auto; */
  /* grid-template-columns: repeat(3, 150px); */
  grid-template-columns: repeat(3,1fr);

  border: 2px solid black;
  /* specified the height and width of container */
  width: 80vw;
  height: 90vh;
  /* setting row heights */
  /* fixed height */
  /* grid-auto-rows: 100px;  */
  grid-auto-rows: minmax(100px, auto);
  /* grid-auto-rows: 100px; */
  /* row-gap: 10px;
  column-gap: 20px; */
  gap: 20px;
  /* other container properties */
  /* justify-items: stretch/center/end/start; */
  /* justify-items: center; */

  /* align-items: start/end/center/baseline/stretch; */
  /* align-items: baseline; */

  /* place-items: center start; */
  /* place-items: center; */

  /*
  justify-content: ;
  align-content: ;
  place-content: ; */
}
