#container {
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns:200px 1fr;
  grid-template-rows: 150px 1fr 50px ;
}

#header {
  background-color: lightskyblue;
  grid-column: 1 /span 2;
}

#nav {
  background-color: lightgreen;
}

#main {
  background-color: pink;
}

#footer {
  background-color: gray;
  grid-column: 1/span 2;
}
