body {
  margin: 0px;
}

#main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #d4d9df;
}
#container {
  border-radius: 10px;
  width: 450px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  /* border: 2px solid black; */
  padding-left: 40px;
  row-gap: 20px;
  /* align-content: space-evenly; */
  column-gap: 20px;
}

.flex-item {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #007bff;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.item-1{
  flex-grow: 1;
}
.item-2{
  flex-grow: 1;
}
.item-3{
  flex-grow: 1;
}
.item-4{
  flex-shrink: 9;
}
.item-5{
  flex-shrink: 3;
}
.item-6{
  flex-grow: 0;
  flex-shrink: 0;
} */
