div{
    background-color: rgb(81, 37, 136);
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(214, 165, 165);
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(24, 244, 4);
}