body{
    background-color: #333333;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../../../../../../Mutlimedia/Library/library.jpg");
    color: #FFFFFF;
    text-align: center;
}

nav{
    background-color: #333333;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-decoration: none; */
    
}

a{
    color: #FFFFFF;
    padding: 0px 25px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.course_name{
    background-color: #FFFFFF;
    border: 2px solid #3498db;
    border-radius: 10px;
    display: inline-block;
    padding: 7px 20px;
    margin: 30px;
    box-sizing: border-box;
}
h1{
    padding: 20px;
    padding-top: 15px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

h2{
    color: #333333;
}
h3{
    color: #636A71;
}
h5{
    color: #27AE60;
}
table{
    border-collapse: collapse;
    margin: 0px auto;
    width: 75%;
    background-color: #494D5F;
    padding: 20px;
    margin-top: 10px;

}
th{
    background-color: #A28089;
    padding: 5px 20px;
}
td{
    padding: 5px 30px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid white;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    display: block;
    padding: 3px 10px;
    margin: 5px;

}

input{
    padding: 10px;
    margin: 10px 20px;
    outline: 1px solid blue;

}
button{
    display: block;
    padding: 10px;
    margin: 0px auto;
    color: white;
    background-color: #3498DB;
    border-radius: 5px;
    border: none;
}
#form_temp{
    border: 2px solid #3498db;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    background-color: gray;
    margin: 20px 40px;
    padding: 15px 10px;
}

textarea{
    outline: 1px solid blue;
    
}

.textarea{
    margin: 10px 20px;
    padding: 10px 0px;
}

.footer_div{
    /* margin: 0px auto; */
    padding: 15px 20px;
    margin: 20px;
    border-radius: 5px;
    display: block;
    background-color: #808080;

}