.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  height: 300px;
  width: 400px;
  border: 10px solid black;
 padding: 10px;
  column-gap: 10px;
  /* row-gap: 10px; */
}

.box {
  width: 100px;
  /* width: auto; */
  height: auto;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #1f0404;
  /* margin: 10px; */
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* first box */
.box:nth-child(1) {
  background-color: #ffcccc;
  align-self: stretch;
}

/* second box */
.box:nth-child(2) {
  background-color: #ccffcc;
  align-self: stretch;
}

