#outerdiv{
   background: url(../../../../../Mutlimedia/scenery/sunrise.jpg) no-repeat center;
   width: 40rem;
   height: 40rem;
   background-size: contain;
   display: flex;
   /* filter: opacity(0.85); */
   /* filter: blur(1px); */
   /* filter: drop-shadow(20px -20px 40px #531e24); */
   filter: hue-rotate(180deg);
   /* filter: brightness(); */
   /* filter: invert(100%); */
}

#innerdiv{
   background: rgba(220, 220, 220, 0.3);
   margin: auto;
   padding: 20px;
   color: blanchedalmond;
   /* backdrop-filter:blur(2px); */
   /* backdrop-filter:  invert(100%); */
   backdrop-filter: sepia(0%);
   /* filter: ; */
}
 