h2{
    color: #1d3f58;
  }

  p{
    color: #537692
    ;
  }

  li{
    color: cornflowerblue;
  }
/* end of type selectors ex. tags */


  .rec-res{ 
    /* EX OF CLASS SELECTOR */
    color: darkgreen;
  }

  #top{
    /* EX OF ID SELECTOR */
    color: #a46379;
  }


  #des1{
    color:red;
  }

  a{
    outline: 2px solid #1d3f58;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    cursor: grab;
    background-color: #537692;
    border-radius:4px;

  }

  #div_audio{
    padding-top: 35px;
  }
