h2{
    color: #1d3f58;
  }

p{
  color: #537692
  ;
}

li{
  color: cornflowerblue;
  }
/* end of type selectors ex. tags */


.rec-res{ 
  /* EX OF CLASS SELECTOR */
  color: darkgreen;
}

#top{
  /* EX OF ID SELECTOR */
  color: #a46379;
}


#des1{
  color:red;
}

#div_audio{
  padding-top: 35px;
}



/* combinators */

/* ------------------------------------------- */
/* descendant */
/* header a{
  outline: 2px solid #1d3f58;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  cursor: grab;
  background-color: #537692;
  border-radius:4px;

} */

/* Child Combinator */

header > a{
  outline: 2px solid #1d3f58;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  cursor: grab;
  background-color: #537692;
  border-radius:4px;

}




/* Subsequent sibling */

h3 ~ p{
  /* background-color: #a46379; */
}

/* Next sibling */
h3 + p{
  /* background-color: aquamarine; */
}


/* universal selector */
/*

*{
  color: chocolate;
}
*/


/* Attribute Selector */

a[title]{
color: aliceblue;
}

a[href="#NBA"]{
background-color: #a46379;
}

a[href*="#act"]{
background-color: #a46379;
}

a[href^="#act"]{
color: chartreuse;
}
a[href$=".html"]{
background-color: coral;
}

a[href^="https"]{
color: darkgreen;
}

a[href$=".com"]{
font-style: italic;
}

a[href^="https"][href$="ninjas/"]{
background-color: black;
}

p:first-child{
background-color: black;
border: 2px dotted white;
}

p:last-child{
/* background-color: black; */
}

p:only-child{
border: 2px dotted white;
background-color: orange;
}

p:nth-child(n+1){
/* background-color: blue; */
/* text-decoration: none; */
}

a:nth-child(n){
text-decoration: none;
}


/* pseudo classes */
p:active{
  color: #a46379;
}
textarea:active{
  background-color:black;
  color: wheat;
}

a:link{
  color: color-mix(in srgb, green 50%, brown 50%);
  
}

h2:hover{
  color: darkred;
}

input:hover,textarea:hover{
  background-color:black;
  color: wheat;
}
button:hover{
  background-color: blue;
  
}

a:visited{
  color: gray;
}

a:hover{
  color: black;
}

input:invalid{
  background-color: pink;
  border: 1px solid red;
  color: red;
}
input:valid{
  background-color: rgb(16, 184, 16);
  border: 1px solid green;
}


/* Pseudo elements */
h2::after{
  content: "⟭";
}

h2::before{
  content: "⟬";
}

a[class="showthelink"]::after{
  content: " ⟬" attr(href) "⟭ ";
}

#Overview h3+p::first-line{
  background-color: black;
}

p::first-letter{
  background-color: white;
  font-size: 20px;
}

/* more than elements & classes.. */
/* how to apply multiple class to one element, I have size and input-color classes */
.size{
  font-size: 25px;
}

.input-color{
  color: green;
}
