h2{
    color: #1d3f58;
  }

  p{
    color: #537692
    ;
  }

  li{
    color: cornflowerblue;
  }
/* end of type selectors ex. tags */


  .rec-res{ 
    /* EX OF CLASS SELECTOR */
    color: darkgreen;
  }

  #top{
    /* EX OF ID SELECTOR */
    color: #a46379;
  }


  #des1{
    color:red;
  }

  #div_audio{
    padding-top: 35px;
  }


  
  /* combinators */

  /* ------------------------------------------- */
  /* descendant */
 /* header a{
    outline: 2px solid #1d3f58;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    cursor: grab;
    background-color: #537692;
    border-radius:4px;

  } */

/* Child Combinator */

header > a{
  outline: 2px solid #1d3f58;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  cursor: grab;
  background-color: #537692;
  border-radius:4px;

}




/* Subsequent sibling */

h3 ~ p{
  background-color: #a46379;
}

/* Next sibling */
h3 + p{
  background-color: aquamarine;
}


/* universal selector */
/*

*{
  color: chocolate;
}
   */

   
   /* Attribute Selector */

   a[title]{
    color: aliceblue;
   }

   a[href="#NBA"]{
    background-color: #a46379;
   }

   a[href*="#act"]{
    background-color: #a46379;
   }

   a[href^="#act"]{
    color: chartreuse;
   }
   a[href$=".html"]{
    background-color: coral;
   }

   a[href^="https"]{
    color: darkgreen;
   }

   a[href$=".com"]{
    font-style: italic;
   }

   a[href^="https"][href$="ninjas/"]{
    background-color: black;
   }

   p:first-child{
    background-color: black;
    border: 2px dotted white;
   }

   p:last-child{
    background-color: black;
   }

   p:only-child{
    border: 2px dotted white;
    background-color: orange;
   }

   p:nth-child(n+1){
    background-color: blue;
   }

   a:nth-child(n){
    text-decoration: none;
   }