
p::first-line {
  color: orange;
}
p::first-letter {
    font-size: 205px;
    color: green;
  }

a:hover::before {
  /* Correct: applies style to the "::before" pseudo-element only when hovering over the "a" element */

  content: "Go to ";
}

/* a:link{
    color: blue;
} */

a:visited {
  color: purple;
  text-decoration-color: hotpink;
}

